<!DOCTYPE html>
<html>

   
{% extends 'base.html' %}

{% block content %}
<head>
    <title>Book Detail</title>
</head>
<body>
    <h1>Book Detail</h1>
    <ul>
        {% for key, value in book_details.items %}
            <li><strong>{{ key }}:</strong> {{ value }}</li>
        {% endfor %}
    </ul>


<p>Request Book To Take Home:</p>

<form action="{% url 'add_to_cart' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="book_isbn" value="{{ book_details.ISBN }}">
    <button type="submit">Request Book</button>
</form>
<p></p>
</body>
{% endblock %}
</html>
