<!DOCTYPE html>
<style>
        body {
        background-color: #d8d8d8; 
        color: #333;  
        font-family: 'Arial', sans-serif;  
        padding: 0;
        margin: auto;
        box-sizing: border-box;
        max-width: 1100px;
        width:100%
        
        
    }
</style>
<html>
   
{% extends 'base.html' %}
    
{% block content %}
<body>
    <h1>Book List</h1>
    <!-- Search form -->
    <form  method="GET">
        <label for="search_query">Search:</label>
        <input type="text" id="search_query" name="q" value="{{ query }}" placeholder="Book Title, Auther or ISNB">
        <button type="submit">Search</button>
    </form>

    <!-- Display search results or all books -->
    {% if query %}
        <p>Search results for: "{{ query }}"</p>
        <ul>
            <!-- Loops thru books and displays by book.title and book.author_name -->
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author_name }}</li>
            {% endfor %}
        </ul>
    <!-- If nothing is searched shows all books by title and author_name -->
    {% else %}
        <p2>All Books:</p2>
        <ul>
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author_name }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
{% endblock %}
</html>