<!DOCTYPE html>
<html lang="en">
<style>
    .genre-name{
    margin-right: 10px;
    }

    .genre-row {
    margin-bottom: 20px;
    }

    .book-list {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    .book-list li {
    margin-bottom: 5px;
    }

    div1, div2{
        background-color: white;
        border: 5px solid black;
        float: right;
        margin-top: 10px;
        padding: 20px;
        display: block;
    }

</style>

{% extends 'base.html' %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>

</head>

<body>
    {% block content %}
    <div1>
        <p>Book Requests:</p>        
        <a href="genre_view">View Requested Book-List</a>
        <a>|</a>
        <a href="#">Book Details</a>

    </div1>

    <p>Books by Category </p>
    <!-- Original-->
    {% for genre, books in grouped_books.items %}
        <div class="genre-row" id="{{ genre_id }}">
            <h3 class="genre-name">{{ genre }}</h3>
            <ul class="book-list">
                {% for book in books %}
                    <li>{{ book.title }} by {{ book.author_name }}</li>
                {% endfor %}
            </ul>
        </div>
    

    
        
    {% endfor %}
    
    
    {% endblock %}
</body>

</html>