<!DOCTYPE html>
<html lang="en">

<style>
    body {
        background-color: #d8d8d8; 
        color: #333;  
        font-family: 'Arial', sans-serif;  
        padding: 20px;  
    }

    h1 {
        color: #007BFF; 
        margin: auto;
        border:10px solid black;
        padding: 20px;
        text-align: center;
        box-sizing: border-box;
    }
</style>

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>

</head>
<body>
    <h1>Welcome to BookWorm</h1>
    <p>Explore our collection of books and manage your library!</p>
    <!-- Add more content or features as needed -->
</body>
</html>